<table class="table">
  <thead>
    <tr>
      <td class="border-dark"></td>
      <th scope="col">
        ID
      </th>
      <th scope="col">
        URL
      </th>
      <th scope="col">
        Scraping Node Type
      </th>
      <th scope="col">
        Last Execute Time
      </th>
      <th scope="col">
        Status
      </th>
      <th scope="col">
        show page
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td scope="row" class="fw-normal">1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
    <tr>
      <td scope="row" class="fw-normal"><code>■</code></th>
      <td>1</td>
      <td>https://google.com</td>
      <td>Css</td>
      <td>2020/12/23</td>
      <td>Success</td>
      <td>show page</td>
    </tr>
  </tbody>
</table>