<h1>New</h1>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">URL</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <select class="form-select" aria-label="Default select example">
    <option value=" CSS" selected>css</option>
    <option value="XPATH">xpath</option>
    <option value="OTHER">other</option>
  </select>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Node</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>